<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XRay Server</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .th-time {
            width: 25%;
        }

        p {
            margin: 2px 0 0;
        }

        .backtrace {
            color: grey;
        }

        td, th {
            border: 1px solid #333333;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
  <h1>XRay Server is working perfectly!</h1>
  <table id="table">
    <tr>
        <th class="th-time">Time</th>
        <th>Content</th>
    </tr>
    <% data.forEach(function(xray) { %>
    <tr>
      <th><%= xray.createdAt %></th>
      <th><%= xray.message %></th>
    </tr>
    <% }); %>
  </table>

  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io();

      function onData(data) {
          var table = document.getElementById("table");
          var row = table.insertRow(1);

          var content = document.createElement('td');
          content.innerHTML = data.message;

          var backtrace = document.createElement('p');
          backtrace.innerHTML = data.backtrace.split("/").pop().toString();
          backtrace.className = "backtrace";

          content.appendChild(backtrace);

          row.insertCell(0).innerHTML = new Date(data.createdAt).toLocaleTimeString();
          row.appendChild(content);
      }

      socket.on('data', function(data) {
          onData(data);
      });
  </script>
</body>
</html>