<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>XRay Server</title>
  <link rel="stylesheet" href="/dist/style.css">
  <link href="/vendor/jquery.json-viewer.css" type="text/css" rel="stylesheet">
</head>

<body class="scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100 hover:scrollbar-thumb-gray-200">
  <div class="bg-grey-100 min-h-screen">
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6 w-1/4">
              Time
            </th>
            <th scope="col" class="py-3 px-6">
              Content
            </th>
          </tr>
        </thead>
        <tbody id="table-content"></tbody>
      </table>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/jquery.json-viewer.js"></script>
  <script src="/app.js"></script>
  <script>
    (function() {
      var socket = io();

      socket.on('data', function (data) {
        render(data, document.getElementById("table-content"));
      });

      socket.on('all-data', function (datas) {
        datas.forEach((data) => {
          render(data, document.getElementById("table-content"));
        });
      });

      socket.emit('all-data');
    })();
  </script>
</body>

</html>