<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>XRay Server</title>
  <link rel="stylesheet" href="/dist/style.css">
</head>

<body>
  <div class="bg-grey-100 min-h-screen">
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6 w-1/4">
              Time
            </th>
            <th scope="col" class="py-3 px-6">
              Content
            </th>
          </tr>
        </thead>
        <tbody id="table-content">
          <% data.forEach(function(xray) { %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= new Date(xray.createdAt).toLocaleTimeString("en-US") %>
              </th>
              <td class="py-4 px-6">
                <p class="text-black">
                  <%= xray.message %>
                </p>
                <p>
                  <%= xray.backtrace.split(/(\\|\/)/).pop().toString() %>
                </p>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    socket.on('data', function (data) {
      var table = document.getElementById("table-content");
      var time = new Date(data.createdAt).toLocaleTimeString("en-US");
      var message = data.message;
      var backtrace = data.backtrace.split(/(\\|\/)/).pop().toString();
      var html = `
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            ${time}
          </th>
          <td class="py-4 px-6">
            <p class="text-black">${message}</p>
            <p>${backtrace}</p>
          </td>
        </tr>
      `;

      table.insertAdjacentHTML('afterbegin', html);
    });
  </script>
</body>

</html>